ul li {
    display: inline;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none !;
}

.activeNav {
    color: #FAFAFF;
    font-weight: 600;
}
.activeNav:hover {
    color: #D6D2D2;
}
.restNav {
    color: whitesmoke;
}
.restNav:hover {
    color:#d6d2d2;
}

